  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="preload" as="image" href="/img/brand/lockup-light.webp" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Saira:wdth,wght@100..125,500..800&family=Share+Tech+Mono&display=swap" rel="stylesheet" />
  <link rel="preload" as="image" href="/img/milky-way.webp" />
